# Pandas
## Series - 1D
## DataFrame - 2D Array

## Pandas itu library python yang digunakan untuk memanipulasi tabel

In [7]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv")
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [10]:
# jumlah row dari df
len(df)

126314

In [11]:
# shape dari df
df.shape

(126314, 23)

In [12]:
# top 5 row dari df
df.head(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,...,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,...,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

In [13]:
# bottom 5 dari df
df.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [14]:
pd.set_option("display.max.columns",None)

In [15]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [16]:
df.gameorder= df.gameorder.astype(str)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  object
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(6), object(11)
memory usage: 22.2+ MB

In [18]:
df.gameorder = df.gameorder.astype(int)

In [19]:
df.gameorder.sum()

3988869806

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [21]:
# basic statistik
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [22]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [23]:
df['gameorder']

0             1
1             1
2             2
3             2
4             3
          ...
126309    63155
126310    63156
126311    63156
126312    63157
126313    63157
Name: gameorder, Length: 126314, dtype: int64

In [24]:
df['gameorder'].shape

(126314,)

In [25]:
df['elo_i']

0         1300.0000
1         1300.0000
2         1300.0000
3         1306.7233
4         1300.0000
            ...
126309    1723.4149
126310    1809.9791
126311    1704.3949
126312    1700.7391
126313    1813.6349
Name: elo_i, Length: 126314, dtype: float64

In [26]:
df['opp_fran']

0            Knicks
1           Huskies
2            Knicks
3             Stags
4          Capitols
            ...
126309     Warriors
126310    Cavaliers
126311     Warriors
126312     Warriors
126313    Cavaliers
Name: opp_fran, Length: 126314, dtype: object

In [27]:
df[['opp_fran']]

         opp_fran
0          Knicks
1         Huskies
2          Knicks
3           Stags
4        Capitols
...           ...
126309   Warriors
126310  Cavaliers
126311   Warriors
126312   Warriors
126313  Cavaliers

[126314 rows x 1 columns]

In [28]:
df['opp_fran'].shape

(126314,)

In [29]:
df2 = df[['gameorder','game_id','year_id']]
df2

        gameorder       game_id  year_id
0               1  194611010TRH     1947
1               1  194611010TRH     1947
2               2  194611020CHS     1947
3               2  194611020CHS     1947
4               3  194611020DTF     1947
...           ...           ...      ...
126309      63155  201506110CLE     2015
126310      63156  201506140GSW     2015
126311      63156  201506140GSW     2015
126312      63157  201506170CLE     2015
126313      63157  201506170CLE     2015

[126314 rows x 3 columns]

In [30]:
# value counts
df['year_id'].value_counts()

2014    2638
2006    2638
2008    2632
2009    2630
2013    2628
        ...
1959     620
1955     618
1958     618
1957     614
1948     430
Name: year_id, Length: 69, dtype: int64

In [31]:
df['fran_id'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: fran_id, dtype: int64

In [32]:
# frekuensi  data
df['game_result'].value_counts()

L    63157
W    63157
Name: game_result, dtype: int64

In [33]:
# proporsi
df['game_result'].value_counts(normalize=True)

L    0.5
W    0.5
Name: game_result, dtype: float64

In [34]:
# proporsi presentasi
df['fran_id'].value_counts(normalize=True)*100

Lakers          4.769068
Celtics         4.747692
Knicks          4.567190
Warriors        4.478522
Pistons         4.472980
Sixers          4.468230
Hawks           4.411229
Kings           4.334436
Wizards         3.627468
Spurs           3.411340
Bulls           3.409757
Pacers          3.346422
Thunder         3.307630
Rockets         3.288630
Nuggets         3.261713
Nets            3.250629
Suns            3.230046
Bucks           3.193629
Trailblazers    3.063793
Cavaliers       3.016293
Clippers        2.955334
Jazz            2.814415
Mavericks       2.385325
Heat            1.877068
Pelicans        1.784442
Magic           1.747233
Timberwolves    1.687066
Grizzlies       1.311810
Raptors         1.293602
Hornets         0.707760
Colonels        0.669759
Squires         0.632551
Spirits         0.615134
Stars           0.598508
Sounds          0.551799
Baltimore       0.369714
Floridians      0.348338
Condors         0.340421
Capitols        0.230378
Olympians       0.223253
Sails           0.216920
Stags           0.205836
Bombers         0.197128
Steamrollers    0.133002
Packers         0.057001
Redskins        0.051459
Rebels          0.049876
Waterloo        0.049084
Denver          0.049084
Falcons         0.047501
Jets            0.047501
Ironmen         0.047501
Huskies         0.047501
Name: fran_id, dtype: float64

# Conditional Filtering

In [35]:
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [36]:
df[df['fran_id'] == 'Knicks']

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
23,12,194611070STB,NBA,1,1947,11/7/1946,3,0,NYK,Knicks,68,1297.0712,1307.3197,41.767715,STB,Bombers,63,1312.8473,1302.5988,A,W,0.339290,NaN
37,19,194611110NYK,NBA,0,1947,11/11/1946,4,0,NYK,Knicks,68,1307.3197,1293.2161,40.288467,CHS,Stags,78,1315.2522,1329.3558,H,L,0.629479,NaN
54,28,194611160NYK,NBA,0,1947,11/16/1946,5,0,NYK,Knicks,64,1293.2161,1296.2185,40.603352,PIT,Ironmen,62,1277.5587,1274.5563,H,W,0.660557,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126025,63013,201504080NYK,NBA,0,2015,4/8/2015,78,0,NYK,Knicks,86,1256.8353,1248.3544,17.412123,IND,Pacers,102,1478.9901,1487.4711,H,L,0.331108,NaN
126056,63029,201504100NYK,NBA,0,2015,4/10/2015,79,0,NYK,Knicks,91,1248.3544,1242.4070,16.998409,MIL,Bucks,99,1452.2738,1458.2212,H,L,0.354754,NaN
126072,63037,201504110ORL,NBA,1,2015,4/11/2015,80,0,NYK,Knicks,80,1242.4070,1249.4366,17.488194,ORL,Magic,79,1325.8820,1318.8523,A,W,0.258043,NaN
126094,63048,201504130ATL,NBA,1,2015,4/13/2015,81,0,NYK,Knicks,112,1249.4366,1268.4222,18.861967,ATL,Hawks,108,1618.9574,1599.9718,A,W,0.062810,NaN
126147,63074,201504150NYK,NBA,0,2015,4/15/2015,82,0,NYK,Knicks,90,1268.4222,1255.6846,17.932079,DET,Pistons,112,1448.3408,1461.0784,H,L,0.386974,NaN

In [37]:
df[df['seasongame']>60]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
660,331,194703310CHS,NBA,1,1947,3/31/1947,61,0,STB,Bombers,66,1374.8636,1369.4114,48.205360,CHS,Stags,73,1381.1733,1386.6256,A,L,0.351610,NaN
661,331,194703310CHS,NBA,0,1947,3/31/1947,61,0,CHS,Stags,73,1381.1733,1386.6256,49.940735,STB,Bombers,66,1374.8636,1369.4114,H,W,0.648390,NaN
662,332,194704020CLR,NBA,0,1947,4/2/1947,61,1,CLR,Rebels,77,1289.1487,1304.9407,41.518227,NYK,Knicks,51,1332.1560,1316.3640,H,W,0.581291,NaN
663,332,194704020CLR,NBA,1,1947,4/2/1947,61,1,NYK,Knicks,51,1332.1560,1316.3640,42.715511,CLR,Rebels,77,1289.1487,1304.9407,A,L,0.418709,NaN
664,333,194704020GSW,NBA,1,1947,4/2/1947,62,1,STB,Bombers,68,1369.4114,1365.1349,47.769810,PHW,Warriors,73,1389.9673,1394.2438,A,L,0.333149,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [38]:
df[(df['seasongame']>60)&(df['fran_id']=='Knicks')][['seasongame','fran_id']]

        seasongame fran_id
663             61  Knicks
670             62  Knicks
678             63  Knicks
684             64  Knicks
689             65  Knicks
...            ...     ...
126025          78  Knicks
126056          79  Knicks
126072          80  Knicks
126094          81  Knicks
126147          82  Knicks

[1638 rows x 2 columns]

In [39]:
df[(df['seasongame']>60)|(df['fran_id']=='Knicks')][['seasongame','fran_id']]

        seasongame    fran_id
1                1     Knicks
3                2     Knicks
23               3     Knicks
37               4     Knicks
54               5     Knicks
...            ...        ...
126309         100  Cavaliers
126310         102   Warriors
126311         101  Cavaliers
126312         102  Cavaliers
126313         103   Warriors

[41576 rows x 2 columns]

# Filter DF dengan kondisi
## fran_id = Cavaliers dan pts >= 40 dan opp_pts <= 80

In [40]:
df[(df['fran_id']=='Cavaliers')&(df['pts']>=40)&(df['opp_pts']<=80)]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
22899,11450,197101190BUF,NBA,1,1971,1/19/1971,53,0,CLE,Cavaliers,111,1148.9454,1185.6002,17.502386,BUF,Clippers,79,1199.1195,1162.4647,A,W,0.296406,at Syracuse NY
29591,14796,197312050PHI,NBA,1,1974,12/5/1973,28,0,CLE,Cavaliers,89,1365.8284,1381.6365,31.112633,PHI,Sixers,75,1325.5873,1309.7792,A,W,0.414838,NaN
31746,15874,197411210CLE,NBA,0,1975,11/21/1974,15,0,CLE,Cavaliers,106,1457.4127,1478.7695,41.464928,GSW,Warriors,74,1538.5902,1517.2334,H,W,0.527061,NaN
32168,16085,197412230CLE,NBA,0,1975,12/23/1974,29,0,CLE,Cavaliers,95,1482.7925,1485.1031,42.129032,NOJ,Jazz,79,1213.2457,1210.9351,H,W,0.893527,NaN
34244,17123,197512020CLE,NBA,0,1976,12/2/1975,19,0,CLE,Cavaliers,91,1444.9886,1453.9612,38.063595,POR,Trailblazers,80,1492.2107,1483.2382,H,W,0.575375,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123238,61620,201403300CLE,NBA,0,2014,3/30/2014,75,0,CLE,Cavaliers,90,1438.1766,1453.2373,35.665211,IND,Pacers,76,1583.1802,1568.1195,H,W,0.435594,NaN
124088,62045,201411240CLE,NBA,0,2015,11/24/2014,13,0,CLE,Cavaliers,106,1461.3649,1471.8448,37.578499,ORL,Magic,74,1381.1050,1370.6250,H,W,0.738398,NaN
125473,62737,201503030CLE,NBA,0,2015,3/3/2015,62,0,CLE,Cavaliers,110,1598.1160,1604.4232,51.255135,BOS,Celtics,79,1424.6685,1418.3612,H,W,0.828366,NaN
125534,62768,201503070CLE,NBA,0,2015,3/7/2015,65,0,CLE,Cavaliers,89,1610.6638,1615.1210,52.299667,PHO,Suns,79,1517.8416,1513.3844,H,W,0.752124,NaN
126274,63138,201505140CHI,NBA,1,2015,5/14/2015,92,1,CLE,Cavaliers,94,1658.6122,1678.9756,58.172401,CHI,Bulls,73,1611.4087,1591.0453,A,W,0.424599,NaN

# loc & iloc

In [41]:
df.iloc[0] # mengakses data berdasarkan urutan index

gameorder                   1
game_id          194611010TRH
lg_id                     NBA
_iscopy                     0
year_id                  1947
date_game           11/1/1946
seasongame                  1
is_playoffs                 0
team_id                   TRH
fran_id               Huskies
pts                        66
elo_i                  1300.0
elo_n               1293.2767
win_equiv            40.29483
opp_id                    NYK
opp_fran               Knicks
opp_pts                    68
opp_elo_i              1300.0
opp_elo_n           1306.7233
game_location               H
game_result                 L
forecast             0.640065
notes                     NaN
Name: 0, dtype: object

In [42]:
df.loc[0] # mengakses data berdasarkan label

gameorder                   1
game_id          194611010TRH
lg_id                     NBA
_iscopy                     0
year_id                  1947
date_game           11/1/1946
seasongame                  1
is_playoffs                 0
team_id                   TRH
fran_id               Huskies
pts                        66
elo_i                  1300.0
elo_n               1293.2767
win_equiv            40.29483
opp_id                    NYK
opp_fran               Knicks
opp_pts                    68
opp_elo_i              1300.0
opp_elo_n           1306.7233
game_location               H
game_result                 L
forecast             0.640065
notes                     NaN
Name: 0, dtype: object

In [43]:
# creating dataframe

list_a = [[1,2,3],[4,5,6],[10,11,12]]
df_5 = pd.DataFrame(list_a,columns = ['Jeruk','Apel','Mangga'], index=['Bandung','Bekasi','Jogja'])
df_5

         Jeruk  Apel  Mangga
Bandung      1     2       3
Bekasi       4     5       6
Jogja       10    11      12

In [44]:
df_5.iloc[0]

Jeruk     1
Apel      2
Mangga    3
Name: Bandung, dtype: int64

In [45]:
df_5.loc['Bandung']

Jeruk     1
Apel      2
Mangga    3
Name: Bandung, dtype: int64

In [46]:
df_5

         Jeruk  Apel  Mangga
Bandung      1     2       3
Bekasi       4     5       6
Jogja       10    11      12

In [47]:
df_5.loc['Bandung','Apel']

2

In [48]:
df_5.iloc[0,2]

3

In [49]:
df_5.iloc[0:2,0:2]

         Jeruk  Apel
Bandung      1     2
Bekasi       4     5

In [50]:
df_5.loc['Jakarta':'Bekasi','Jeruk':'Apel']

Empty DataFrame
Columns: [Jeruk, Apel]
Index: []

In [51]:
df_5.iloc[0:3,0:2]

         Jeruk  Apel
Bandung      1     2
Bekasi       4     5
Jogja       10    11

In [52]:
[1,2,3,4][0:3]

[1, 2, 3]

# Dari data NBA ambil row 5000-7000 dan kolom season game sampai location menggunakan loc atau iloc

In [53]:
df.loc[5000:7000,'seasongame':'game_location']

,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location
5000,42,0,PHW,Warriors,85,1346.3630,1345.4856,24.798822,NYK,Knicks,90,1663.3676,1664.2450,A
5001,45,0,NYK,Knicks,90,1663.3676,1664.2450,56.494823,PHW,Warriors,85,1346.3630,1345.4856,H
5002,42,0,BLB,Baltimore,79,1358.2220,1355.9099,25.731153,SYR,Sixers,94,1620.1327,1622.4448,A
5003,45,0,SYR,Sixers,94,1620.1327,1622.4448,52.593601,BLB,Baltimore,79,1358.2220,1355.9099,H
5004,46,0,SYR,Sixers,98,1622.4448,1630.7344,53.388721,BLB,Baltimore,77,1355.9099,1347.6204,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6996,49,0,PHW,Warriors,93,1599.4049,1588.2762,47.361004,STL,Hawks,105,1511.3802,1522.5089,A
6997,47,0,STL,Hawks,105,1511.3802,1522.5089,40.514114,PHW,Warriors,93,1599.4049,1588.2762,H
6998,49,0,SYR,Sixers,90,1537.7802,1542.7595,42.637417,FTW,Pistons,85,1551.4215,1546.4421,H
6999,47,0,FTW,Pistons,85,1551.4215,1546.4421,43.022934,SYR,Sixers,90,1537.7802,1542.7595,A
7000,50,0,SYR,Sixers,98,1542.7595,1540.1091,42.359776,FTW,Pistons,99,1546.4421,1549.0925,A

In [54]:
df.iloc[5000:7000,6:20] #iloc urutan karena ada konsep start stop sehingga harus ditambahkan 1

,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location
5000,42,0,PHW,Warriors,85,1346.3630,1345.4856,24.798822,NYK,Knicks,90,1663.3676,1664.2450,A
5001,45,0,NYK,Knicks,90,1663.3676,1664.2450,56.494823,PHW,Warriors,85,1346.3630,1345.4856,H
5002,42,0,BLB,Baltimore,79,1358.2220,1355.9099,25.731153,SYR,Sixers,94,1620.1327,1622.4448,A
5003,45,0,SYR,Sixers,94,1620.1327,1622.4448,52.593601,BLB,Baltimore,79,1358.2220,1355.9099,H
5004,46,0,SYR,Sixers,98,1622.4448,1630.7344,53.388721,BLB,Baltimore,77,1355.9099,1347.6204,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,50,0,MNL,Lakers,109,1493.3032,1477.7394,35.845383,ROC,Kings,121,1506.5305,1522.0944,H
6996,49,0,PHW,Warriors,93,1599.4049,1588.2762,47.361004,STL,Hawks,105,1511.3802,1522.5089,A
6997,47,0,STL,Hawks,105,1511.3802,1522.5089,40.514114,PHW,Warriors,93,1599.4049,1588.2762,H
6998,49,0,SYR,Sixers,90,1537.7802,1542.7595,42.637417,FTW,Pistons,85,1551.4215,1546.4421,H
6999,47,0,FTW,Pistons,85,1551.4215,1546.4421,43.022934,SYR,Sixers,90,1537.7802,1542.7595,A

In [55]:
# cara kedua membuat dataframe menggunakan dictionary
details = {
    'Name':['Handoko','Sari','Rahmat','Heru'],
    'Age':[23,21,22,21],
    'Sex':['L','P','L','L']
}

df_dict = pd.DataFrame(details)
df_dict

      Name  Age Sex
0  Handoko   23   L
1     Sari   21   P
2   Rahmat   22   L
3     Heru   21   L

# Agregasi Tabel

In [56]:
df['seasongame'].sum()

5498920

In [57]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

# Mengambil Sum Point oleh Knicks pada tahun 2005

In [58]:
df_knicks_2005 = df[(df['fran_id'] == 'knicks')&(df['year_id']==2005)]
df_knicks_2005['pts'].sum()

0

In [59]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].sum()

7977

# Agregasi lain

In [60]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].max()

135

In [61]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].mean()

97.28048780487805

In [62]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].median()

96.0

In [63]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].mode()

0     91
1     93
2     94
3    113
Name: pts, dtype: int64

In [64]:
df.loc[(df['fran_id']=='Knicks')&(df['year_id']==2005),'pts'].count()

82

# Groupby

In [65]:
# rata-rata point per tim
df.groupby('fran_id')[['pts']].mean()

                     pts
fran_id
Baltimore      79.698073
Bombers        71.457831
Bucks         103.700050
Bulls         101.525192
Capitols       76.931271
Cavaliers      99.846719
Celtics       104.466233
Clippers      101.934905
Colonels      111.625296
Condors       115.446512
Denver         77.709677
Falcons        63.283333
Floridians    112.654545
Grizzlies      95.161738
Hawks         101.805635
Heat           96.627162
Hornets        94.506711
Huskies        66.583333
Ironmen        61.233333
Jazz          102.153305
Jets           74.700000
Kings         103.971689
Knicks        100.970185
Lakers        105.817397
Magic          99.427277
Mavericks     102.634915
Nets          101.755723
Nuggets       108.199029
Olympians      81.078014
Pacers        103.687722
Packers        86.013889
Pelicans       97.956522
Pistons       101.373097
Raptors        96.921665
Rebels         71.015873
Redskins       82.646154
Rockets       104.117477
Sails         109.781022
Sixers        103.807760
Sounds        108.439024
Spirits       110.519949
Spurs         105.319564
Squires       114.051314
Stags          78.453846
Stars         112.354497
Steamrollers   73.642857
Suns          107.226961
Thunder       104.771422
Timberwolves   97.462694
Trailblazers  104.055556
Warriors      104.511932
Waterloo       79.370968
Wizards       103.624836

In [66]:
# max point pertim
df.groupby('fran_id')[['pts']].max()

              pts
fran_id
Baltimore     126
Bombers       109
Bucks         166
Bulls         156
Capitols      118
Cavaliers     154
Celtics       173
Clippers      152
Colonels      157
Condors       156
Denver        108
Falcons        92
Floridians    160
Grizzlies     144
Hawks         155
Heat          141
Hornets       133
Huskies        93
Ironmen        85
Jazz          153
Jets          110
Kings         165
Knicks        152
Lakers        162
Magic         155
Mavericks     156
Nets          166
Nuggets       184
Olympians     112
Pacers        177
Packers       123
Pelicans      141
Pistons       186
Raptors       136
Rebels         92
Redskins      141
Rockets       156
Sails         176
Sixers        163
Sounds        146
Spirits       156
Spurs         171
Squires       169
Stags         115
Stars         154
Steamrollers  107
Suns          173
Thunder       154
Timberwolves  143
Trailblazers  156
Warriors      169
Waterloo      104
Wizards       161

In [67]:
df[df['year_id']>2010].groupby(['year_id','fran_id'])[['pts']].mean()

                             pts
year_id fran_id
2011    Bucks          91.878049
        Bulls          97.622449
        Cavaliers      95.451220
        Celtics        96.318681
        Clippers       98.646341
...                          ...
2015    Thunder       103.951220
        Timberwolves   97.756098
        Trailblazers  102.275862
        Warriors      108.592233
        Wizards        98.815217

[150 rows x 1 columns]

In [68]:
df[(df[ 'fran_id']=='Spurs')&(df['year_id']>2010)].groupby(['year_id','game_result'])['game_id'].count()

year_id  game_result
2011     L              25
         W              63
2012     L              20
         W              60
2013     L              30
         W              73
2014     L              27
         W              78
2015     L              31
         W              58
Name: game_id, dtype: int64

In [69]:
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

# Menggunakan Groupby lakukan analisis terhadap rata-rata skor yang dicetak Stags pada tahun 1947 dibagi berdasarkan game location dan game result

In [70]:
df[(df['fran_id']=='Stags')&(df['year_id']==1997)].groupby(['game_location','game_result'])['pts'].mean()

Series([], Name: pts, dtype: float64)

In [72]:
df[(df['fran_id']=='Stags')&(df['year_id']==1997)].groupby(['game_location','game_result'])[['pts']].mean()

Empty DataFrame
Columns: [pts]
Index: []

# Manipulating Columns

In [73]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [74]:
nba = df.copy()

In [75]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [76]:
# tambah kolom
nba['pts']-nba['opp_pts']

0         -2
1          2
2         16
3        -16
4        -17
          ..
126309   -21
126310    13
126311   -13
126312    -8
126313     8
Length: 126314, dtype: int64

In [77]:
nba['difference'] = nba['pts'] - nba['opp_pts']
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17

In [78]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  difference     126314 non-null  int64
dtypes: float64(6), int64(8), object(10)
memory usage: 23.1+ MB

In [80]:
# penambahan kolom point pangkat 2
nba['pts2'] = nba['pts']**2

In [81]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference,pts2
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2,4356
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2,4624
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16,3969
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16,2209
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17,1089

In [82]:
nba['opp_pts'] = 100

In [84]:
nba['opp_pts'].value_counts()

100    126314
Name: opp_pts, dtype: int64

In [85]:
nba.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes',
       'difference', 'pts2'],
      dtype='object')

In [87]:
nba = nba[['gameorder','game_id','lg_id','_iscopy','year_id','date_game',
          'seasongame','is_playoffs','team_id','fran_id','pts','pts2','elo_i',
          'elo_n','win_equiv','opp_id','opp_fran','opp_pts','opp_elo_i',
          'opp_elo_n','game_location','game_result','forecast','notes',
          'difference']]

In [88]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,pts2,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,4356,1300.0000,1293.2767,40.294830,NYK,Knicks,100,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,4624,1300.0000,1306.7233,41.705170,TRH,Huskies,100,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,3969,1300.0000,1309.6521,42.012257,NYK,Knicks,100,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,2209,1306.7233,1297.0712,40.692783,CHS,Stags,100,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1089,1300.0000,1279.6189,38.864048,WSC,Capitols,100,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,6724,1723.4149,1704.3949,60.309792,GSW,Warriors,100,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,10816,1809.9791,1813.6349,68.013329,CLE,Cavaliers,100,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,8281,1704.3949,1700.7391,60.010067,GSW,Warriors,100,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,9409,1700.7391,1692.0859,59.290245,GSW,Warriors,100,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,11025,1813.6349,1822.2881,68.519516,CLE,Cavaliers,100,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [89]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  pts2           126314 non-null  int64
 12  elo_i          126314 non-null  float64
 13  elo_n          126314 non-null  float64
 14  win_equiv      126314 non-null  float64
 15  opp_id         126314 non-null  object
 16  opp_fran       126314 non-null  object
 17  opp_pts        126314 non-null  int64
 18  opp_elo_i      126314 non-null  float64
 19  opp_elo_n      126314 non-null  float64
 20  game_location  126314 non-null  object
 21  game_result    126314 non-null  object
 22  forecast       126314 non-null  float64
 23  notes          5424 non-null    object
 24  difference     126314 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 24.1+ MB

In [91]:
# rename column
# change game_result to result dan game_location to location
nba2 = nba.rename(columns={'game_result':'result','game_location':'location'})

In [92]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  pts2           126314 non-null  int64
 12  elo_i          126314 non-null  float64
 13  elo_n          126314 non-null  float64
 14  win_equiv      126314 non-null  float64
 15  opp_id         126314 non-null  object
 16  opp_fran       126314 non-null  object
 17  opp_pts        126314 non-null  int64
 18  opp_elo_i      126314 non-null  float64
 19  opp_elo_n      126314 non-null  float64
 20  game_location  126314 non-null  object
 21  game_result    126314 non-null  object
 22  forecast       126314 non-null  float64
 23  notes          5424 non-null    object
 24  difference     126314 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 24.1+ MB

In [94]:
nba.rename(columns={'game_result':'result','game_location':'location'},inplace=True)
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,pts2,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,4356,1300.0000,1293.2767,40.294830,NYK,Knicks,100,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,4624,1300.0000,1306.7233,41.705170,TRH,Huskies,100,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,3969,1300.0000,1309.6521,42.012257,NYK,Knicks,100,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,2209,1306.7233,1297.0712,40.692783,CHS,Stags,100,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1089,1300.0000,1279.6189,38.864048,WSC,Capitols,100,1300.0000,1320.3811,H,L,0.640065,NaN,-17

In [95]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  pts2         126314 non-null  int64
 12  elo_i        126314 non-null  float64
 13  elo_n        126314 non-null  float64
 14  win_equiv    126314 non-null  float64
 15  opp_id       126314 non-null  object
 16  opp_fran     126314 non-null  object
 17  opp_pts      126314 non-null  int64
 18  opp_elo_i    126314 non-null  float64
 19  opp_elo_n    126314 non-null  float64
 20  location     126314 non-null  object
 21  result       126314 non-null  object
 22  forecast     126314 non-null  float64
 23  notes        5424 non-null    object
 24  difference   126314 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 24.1+ MB

In [96]:
# drop columns
nba.drop('opp_elo_i',axis=1)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,pts2,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_n,location,result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,4356,1300.0000,1293.2767,40.294830,NYK,Knicks,100,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,4624,1300.0000,1306.7233,41.705170,TRH,Huskies,100,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,3969,1300.0000,1309.6521,42.012257,NYK,Knicks,100,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,2209,1306.7233,1297.0712,40.692783,CHS,Stags,100,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1089,1300.0000,1279.6189,38.864048,WSC,Capitols,100,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,6724,1723.4149,1704.3949,60.309792,GSW,Warriors,100,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,10816,1809.9791,1813.6349,68.013329,CLE,Cavaliers,100,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,8281,1704.3949,1700.7391,60.010067,GSW,Warriors,100,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,9409,1700.7391,1692.0859,59.290245,GSW,Warriors,100,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,11025,1813.6349,1822.2881,68.519516,CLE,Cavaliers,100,1692.0859,A,W,0.518550,NaN,8

In [98]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  pts2         126314 non-null  int64
 12  elo_i        126314 non-null  float64
 13  elo_n        126314 non-null  float64
 14  win_equiv    126314 non-null  float64
 15  opp_id       126314 non-null  object
 16  opp_fran     126314 non-null  object
 17  opp_pts      126314 non-null  int64
 18  opp_elo_i    126314 non-null  float64
 19  opp_elo_n    126314 non-null  float64
 20  location     126314 non-null  object
 21  result       126314 non-null  object
 22  forecast     126314 non-null  float64
 23  notes        5424 non-null    object
 24  difference   126314 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 24.1+ MB

In [99]:
nba_dropped = nba.drop(['team_id','fran_id','opp_id'],axis=1)
nba_dropped

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,pts,pts2,elo_i,elo_n,win_equiv,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,66,4356,1300.0000,1293.2767,40.294830,Knicks,100,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,68,4624,1300.0000,1306.7233,41.705170,Huskies,100,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,63,3969,1300.0000,1309.6521,42.012257,Knicks,100,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,47,2209,1306.7233,1297.0712,40.692783,Stags,100,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,33,1089,1300.0000,1279.6189,38.864048,Capitols,100,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,82,6724,1723.4149,1704.3949,60.309792,Warriors,100,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,104,10816,1809.9791,1813.6349,68.013329,Cavaliers,100,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,91,8281,1704.3949,1700.7391,60.010067,Warriors,100,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,97,9409,1700.7391,1692.0859,59.290245,Warriors,100,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,105,11025,1813.6349,1822.2881,68.519516,Cavaliers,100,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [100]:
nba_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   pts          126314 non-null  int64
 9   pts2         126314 non-null  int64
 10  elo_i        126314 non-null  float64
 11  elo_n        126314 non-null  float64
 12  win_equiv    126314 non-null  float64
 13  opp_fran     126314 non-null  object
 14  opp_pts      126314 non-null  int64
 15  opp_elo_i    126314 non-null  float64
 16  opp_elo_n    126314 non-null  float64
 17  location     126314 non-null  object
 18  result       126314 non-null  object
 19  forecast     126314 non-null  float64
 20  notes        5424 non-null    object
 21  difference   126314 non-null  int64
dtypes: float64(6), int64(9), object(7)
memory usage: 21.2+ MB

In [101]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,pts2,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,4356,1300.0000,1293.2767,40.294830,NYK,Knicks,100,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,4624,1300.0000,1306.7233,41.705170,TRH,Huskies,100,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,3969,1300.0000,1309.6521,42.012257,NYK,Knicks,100,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,2209,1306.7233,1297.0712,40.692783,CHS,Stags,100,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1089,1300.0000,1279.6189,38.864048,WSC,Capitols,100,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,6724,1723.4149,1704.3949,60.309792,GSW,Warriors,100,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,10816,1809.9791,1813.6349,68.013329,CLE,Cavaliers,100,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,8281,1704.3949,1700.7391,60.010067,GSW,Warriors,100,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,9409,1700.7391,1692.0859,59.290245,GSW,Warriors,100,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,11025,1813.6349,1822.2881,68.519516,CLE,Cavaliers,100,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [102]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  pts2         126314 non-null  int64
 12  elo_i        126314 non-null  float64
 13  elo_n        126314 non-null  float64
 14  win_equiv    126314 non-null  float64
 15  opp_id       126314 non-null  object
 16  opp_fran     126314 non-null  object
 17  opp_pts      126314 non-null  int64
 18  opp_elo_i    126314 non-null  float64
 19  opp_elo_n    126314 non-null  float64
 20  location     126314 non-null  object
 21  result       126314 non-null  object
 22  forecast     126314 non-null  float64
 23  notes        5424 non-null    object
 24  difference   126314 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 24.1+ MB

# Conversion Dtype

In [103]:
# convert object to datetime
nba.date_game

0         11/1/1946
1         11/1/1946
2         11/2/1946
3         11/2/1946
4         11/2/1946
            ...
126309    6/11/2015
126310    6/14/2015
126311    6/14/2015
126312    6/16/2015
126313    6/16/2015
Name: date_game, Length: 126314, dtype: object

In [104]:
nba['date_game'] = pd.to_datetime(nba.date_game)

In [105]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  datetime64[ns]
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  pts2         126314 non-null  int64
 12  elo_i        126314 non-null  float64
 13  elo_n        126314 non-null  float64
 14  win_equiv    126314 non-null  float64
 15  opp_id       126314 non-null  object
 16  opp_fran     126314 non-null  object
 17  opp_pts      126314 non-null  int64
 18  opp_elo_i    126314 non-null  float64
 19  opp_elo_n    126314 non-null  float64
 20  location     126314 non-null  object
 21  result       126314 non-null  object
 22  forecast     126314 non-null  float64
 23  notes        5424 non-null    object
 24  difference   126314 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(9), object(9)
memory usage: 24.1+ MB

In [106]:
nba[nba.date_game > pd.Timestamp(2005,1,10)]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,pts2,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes,difference
98878,49440,200501110ATL,NBA,1,2005,2005-01-11,32,0,MIL,Bucks,80,6400,1451.9478,1431.2278,34.184200,ATL,Hawks,100,1313.1605,1333.8805,A,L,0.555589,NaN,-23
98879,49440,200501110ATL,NBA,0,2005,2005-01-11,32,0,ATL,Hawks,103,10609,1313.1605,1333.8805,24.834711,MIL,Bucks,100,1451.9478,1431.2278,H,W,0.444411,NaN,23
98880,49441,200501110CLE,NBA,0,2005,2005-01-11,33,0,CLE,Cavaliers,100,10000,1517.8193,1518.8887,43.313129,CHA,Hornets,100,1300.6438,1299.5745,H,W,0.861262,NaN,2
98881,49441,200501110CLE,NBA,1,2005,2005-01-11,31,0,CHA,Hornets,98,9604,1300.6438,1299.5745,21.904488,CLE,Cavaliers,100,1517.8193,1518.8887,A,L,0.138738,NaN,-2
98882,49442,200501110MEM,NBA,0,2005,2005-01-11,36,0,MEM,Grizzlies,85,7225,1571.5632,1564.8701,48.067558,IND,Pacers,100,1507.8855,1514.5786,H,L,0.719545,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,2015-06-11,100,1,CLE,Cavaliers,82,6724,1723.4149,1704.3949,60.309792,GSW,Warriors,100,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,2015-06-14,102,1,GSW,Warriors,104,10816,1809.9791,1813.6349,68.013329,CLE,Cavaliers,100,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,2015-06-14,101,1,CLE,Cavaliers,91,8281,1704.3949,1700.7391,60.010067,GSW,Warriors,100,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,2015-06-16,102,1,CLE,Cavaliers,97,9409,1700.7391,1692.0859,59.290245,GSW,Warriors,100,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,2015-06-16,103,1,GSW,Warriors,105,11025,1813.6349,1822.2881,68.519516,CLE,Cavaliers,100,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [107]:
df['fran_id'].unique() #untuk mengecek variabel yang unique

array(['Huskies', 'Knicks', 'Stags', 'Falcons', 'Capitols', 'Celtics',
       'Steamrollers', 'Ironmen', 'Bombers', 'Rebels', 'Warriors',
       'Baltimore', 'Jets', 'Pistons', 'Lakers', 'Kings', 'Hawks',
       'Denver', 'Olympians', 'Redskins', 'Waterloo', 'Packers', 'Sixers',
       'Wizards', 'Bulls', 'Thunder', 'Squires', 'Stars', 'Rockets',
       'Colonels', 'Pacers', 'Nuggets', 'Spurs', 'Spirits', 'Sounds',
       'Floridians', 'Nets', 'Condors', 'Bucks', 'Suns', 'Clippers',
       'Cavaliers', 'Trailblazers', 'Sails', 'Jazz', 'Mavericks',
       'Pelicans', 'Heat', 'Timberwolves', 'Magic', 'Grizzlies',
       'Raptors', 'Hornets'], dtype=object)

In [108]:
df['fran_id'].nunique() #untuk cek variabel unqique

53

# Missing Value

In [109]:
df.isna().sum()

gameorder             0
game_id               0
lg_id                 0
_iscopy               0
year_id               0
date_game             0
seasongame            0
is_playoffs           0
team_id               0
fran_id               0
pts                   0
elo_i                 0
elo_n                 0
win_equiv             0
opp_id                0
opp_fran              0
opp_pts               0
opp_elo_i             0
opp_elo_n             0
game_location         0
game_result           0
forecast              0
notes            120890
dtype: int64

In [110]:
df[df['notes'].isna()]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [111]:
# filter negasi dari isna()
df[~(df.notes.isna())]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
930,466,194801300BLB,NBA,1,1948,1/30/1948,28,0,WSC,Capitols,71,1469.3469,1454.9012,47.065742,BLB,Baltimore,95,1434.0548,1448.5005,A,L,0.407940,at Baltimore's Fifth Regiment Armory
931,466,194801300BLB,NBA,0,1948,1/30/1948,31,0,BLB,Baltimore,95,1434.0548,1448.5005,46.407490,WSC,Capitols,71,1469.3469,1454.9012,H,W,0.592060,at Baltimore's Fifth Regiment Armory
1084,543,194803230CHS,NBA,1,1948,3/23/1948,49,1,WSC,Capitols,70,1465.9006,1461.1990,47.710297,CHS,Stags,74,1440.7186,1445.4203,A,L,0.393962,Tiebreaker
1085,543,194803230CHS,NBA,0,1948,3/23/1948,49,1,CHS,Stags,74,1440.7186,1445.4203,46.089687,WSC,Capitols,70,1465.9006,1461.1990,H,W,0.606038,Tiebreaker
1088,545,194803250CHS,NBA,1,1948,3/25/1948,49,1,BLB,Baltimore,75,1477.2552,1484.3137,50.044666,CHS,Stags,72,1445.4203,1438.3618,A,W,0.403142,Tiebreaker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122207,61104,201401160ATL,NBA,0,2014,1/16/2014,39,0,ATL,Hawks,110,1505.0525,1487.5908,39.239410,BRK,Nets,127,1454.6501,1472.1118,N,L,0.572030,"at London, England"
123916,61959,201411120MIN,NBA,1,2015,11/12/2014,8,0,HOU,Rockets,113,1635.7723,1642.4540,54.894760,MIN,Timberwolves,101,1502.9229,1496.2412,N,W,0.682383,"at Mexico City Arena, Mexico City, Mexico"
123917,61959,201411120MIN,NBA,0,2015,11/12/2014,7,0,MIN,Timberwolves,101,1502.9229,1496.2412,40.129723,HOU,Rockets,113,1635.7723,1642.4540,N,L,0.317617,"at Mexico City Arena, Mexico City, Mexico"
124862,62432,201501150MIL,NBA,0,2015,1/15/2015,40,0,MIL,Bucks,95,1499.9038,1505.8629,41.138866,NYK,Knicks,79,1304.4620,1298.5029,N,W,0.754925,"at The O2, London, England"
124863,62432,201501150MIL,NBA,1,2015,1/15/2015,41,0,NYK,Knicks,79,1304.4620,1298.5029,21.189493,MIL,Bucks,95,1499.9038,1505.8629,N,L,0.245075,"at The O2, London, England"

In [112]:
# dropna index
df.dropna()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
930,466,194801300BLB,NBA,1,1948,1/30/1948,28,0,WSC,Capitols,71,1469.3469,1454.9012,47.065742,BLB,Baltimore,95,1434.0548,1448.5005,A,L,0.407940,at Baltimore's Fifth Regiment Armory
931,466,194801300BLB,NBA,0,1948,1/30/1948,31,0,BLB,Baltimore,95,1434.0548,1448.5005,46.407490,WSC,Capitols,71,1469.3469,1454.9012,H,W,0.592060,at Baltimore's Fifth Regiment Armory
1084,543,194803230CHS,NBA,1,1948,3/23/1948,49,1,WSC,Capitols,70,1465.9006,1461.1990,47.710297,CHS,Stags,74,1440.7186,1445.4203,A,L,0.393962,Tiebreaker
1085,543,194803230CHS,NBA,0,1948,3/23/1948,49,1,CHS,Stags,74,1440.7186,1445.4203,46.089687,WSC,Capitols,70,1465.9006,1461.1990,H,W,0.606038,Tiebreaker
1088,545,194803250CHS,NBA,1,1948,3/25/1948,49,1,BLB,Baltimore,75,1477.2552,1484.3137,50.044666,CHS,Stags,72,1445.4203,1438.3618,A,W,0.403142,Tiebreaker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122207,61104,201401160ATL,NBA,0,2014,1/16/2014,39,0,ATL,Hawks,110,1505.0525,1487.5908,39.239410,BRK,Nets,127,1454.6501,1472.1118,N,L,0.572030,"at London, England"
123916,61959,201411120MIN,NBA,1,2015,11/12/2014,8,0,HOU,Rockets,113,1635.7723,1642.4540,54.894760,MIN,Timberwolves,101,1502.9229,1496.2412,N,W,0.682383,"at Mexico City Arena, Mexico City, Mexico"
123917,61959,201411120MIN,NBA,0,2015,11/12/2014,7,0,MIN,Timberwolves,101,1502.9229,1496.2412,40.129723,HOU,Rockets,113,1635.7723,1642.4540,N,L,0.317617,"at Mexico City Arena, Mexico City, Mexico"
124862,62432,201501150MIL,NBA,0,2015,1/15/2015,40,0,MIL,Bucks,95,1499.9038,1505.8629,41.138866,NYK,Knicks,79,1304.4620,1298.5029,N,W,0.754925,"at The O2, London, England"
124863,62432,201501150MIL,NBA,1,2015,1/15/2015,41,0,NYK,Knicks,79,1304.4620,1298.5029,21.189493,MIL,Bucks,95,1499.9038,1505.8629,N,L,0.245075,"at The O2, London, England"

In [113]:
# dropna column
df.dropna(axis=1)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550

# Combining Dataset

In [114]:
df8 = pd.DataFrame({'Fisika':[70,80,90,30], 'Matematika':[65,85,75,40], 'Biologi':[55,45,75,85]},
                   index=['Andi','Budi','Caca','Dedi'])
df8

      Fisika  Matematika  Biologi
Andi      70          65       55
Budi      80          85       45
Caca      90          75       75
Dedi      30          40       85

In [116]:
df9 = pd.DataFrame({'Fisika':[70,80,90,30], 'Matematika':[65,85,75,40], 'Biologi':[55,45,75,85]},
                   index=['Rosa','Ahmad','Tukiyem','Jajang'])
df9

         Fisika  Matematika  Biologi
Rosa         70          65       55
Ahmad        80          85       45
Tukiyem      90          75       75
Jajang       30          40       85

In [117]:
pd.concat([df8,df9])

         Fisika  Matematika  Biologi
Andi         70          65       55
Budi         80          85       45
Caca         90          75       75
Dedi         30          40       85
Rosa         70          65       55
Ahmad        80          85       45
Tukiyem      90          75       75
Jajang       30          40       85

In [118]:
# merge
countries = pd.DataFrame({'population':[10,20,30],
                          'continent':['europe','asia','america'],
                          },index=['Holland','Japan','Canada'])
countries2 = pd.DataFrame({'president_gender':['M','F','M'],
                           'Minister':['Yes','No','Yes'],
                           }, index=['Holland','Japan','Canada'])

In [119]:
countries

         population continent
Holland          10    europe
Japan            20      asia
Canada           30   america

In [120]:
countries2

        president_gender Minister
Holland                M      Yes
Japan                  F       No
Canada                 M      Yes

In [121]:
pd.merge(countries,countries2,left_index=True,right_index=True)

         population continent president_gender Minister
Holland          10    europe                M      Yes
Japan            20      asia                F       No
Canada           30   america                M      Yes